In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,...,0.0,0.0,Golden State Warriors,38,44,0.463,21.0,102.4,103.6,-0.60
1,1,Adonal Foyle,C,27,GSW,82,0,21.8,2.3,4.2,...,0.0,0.0,Golden State Warriors,38,44,0.463,21.0,102.4,103.6,-0.60
2,2,Antawn Jamison,SF,26,GSW,82,82,39.3,8.4,17.9,...,0.0,0.0,Golden State Warriors,38,44,0.463,21.0,102.4,103.6,-0.60
3,3,Bob Sura,SG,29,GSW,55,0,20.5,2.5,6.0,...,0.0,0.0,Golden State Warriors,38,44,0.463,21.0,102.4,103.6,-0.60
4,4,Chris Mills,PF,33,GSW,21,0,12.5,1.9,5.0,...,0.0,0.0,Golden State Warriors,38,44,0.463,21.0,102.4,103.6,-0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9050,9050,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
9051,9051,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
9052,9052,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
9053,9053,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
9054,9054,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [3]:
del stats["Unnamed: 0"]

In [5]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          30
3P            0
3PA           0
3P%        1185
2P            0
2PA           0
2P%          61
eFG%         30
FT            0
FTA           0
FT%         318
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [7]:
#select all the rows in stats where 3P% is null
stats[pd.isnull(stats["3P%"])][["Player","3PA"]]

                Player  3PA
10          Guy Rucker  0.0
70          Jeff Ayres  0.0
72      Kyrylo Fesenko  0.0
75        Lou Amundson  0.0
83        Emeka Okafor  0.0
...                ...  ...
8994   Jermaine O'Neal  0.0
9007  Hassan Whiteside  0.0
9027      JaVale McGee  0.0
9032       Malcolm Lee  0.0
9034      Nerlens Noel  0.0

[1185 rows x 2 columns]

In [8]:
stats[pd.isnull(stats["FT%"])][["Player","FTA"]]

            Player  FTA
0      A.J. Guyton  0.0
10      Guy Rucker  0.0
17      Ben Bentil  0.0
123     Seth Curry  0.0
132    Loren Woods  0.0
...            ...  ...
8906  Quincy Lewis  0.0
8931   George King  0.0
8997   Luke Zeller  0.0
9032   Malcolm Lee  0.0
9051   Steve Novak  0.0

[318 rows x 2 columns]

In [15]:
# replace any null value with 0 (technically not correct b/c attempting 0 3's != 0 3P%)
stats = stats.fillna(0)
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

In [9]:
# ML TIME- trying to predict mvp share (pts won / pts max)
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [10]:
# remove strings and share, pts won, pts max -> b/c they are what we're trying to predict
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']

In [16]:
train = stats[stats["Year"] < 2021]
test = stats[stats["Year"] == 2021]

In [17]:
# Ridge is a form of linear regression that is designed to prevent overfitting
# overfitting: data is fits so well with current data, but doesn't work when we apply it to predict
from sklearn.linear_model import Ridge

reg = Ridge(alpha=0.1)

In [18]:
reg.fit(train[predictors], train["Share"])
Ridge(alpha=0.1)
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
predictions

      predictions
376      0.015442
377     -0.011155
378      0.004713
379     -0.000518
380      0.012141
...           ...
8972    -0.007325
8973    -0.011026
8974     0.008514
8975    -0.016493
8976    -0.006478

[540 rows x 1 columns]

In [19]:
# concat combines two data sets or data frames in panda
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
combination

                      Player  Share  predictions
376             Aaron Gordon    0.0     0.015442
377            Austin Rivers    0.0    -0.011155
378                  Bol Bol    0.0     0.004713
379         Facundo Campazzo    0.0    -0.000518
380         Greg Whittington    0.0     0.012141
...                      ...    ...          ...
8972             Patty Mills    0.0    -0.007325
8973  Quinndary Weatherspoon    0.0    -0.011026
8974                Rudy Gay    0.0     0.008514
8975               Tre Jones    0.0    -0.016493
8976              Trey Lyles    0.0    -0.006478

[540 rows x 3 columns]

In [20]:
combination.sort_values("Share", ascending=False).head(10)

                     Player  Share  predictions
387            Nikola Jokić  0.961     0.155287
5784            Joel Embiid  0.580     0.156196
2426          Stephen Curry  0.449     0.162675
6479  Giannis Antetokounmpo  0.345     0.194507
887              Chris Paul  0.138     0.076407
6945            Luka Dončić  0.042     0.159271
5165         Damian Lillard  0.038     0.136337
2367          Julius Randle  0.020     0.087892
2362           Derrick Rose  0.010     0.025646
7193            Rudy Gobert  0.008     0.085111

In [22]:
# error metric - let's us know if the algorithm did well or not
from sklearn.metrics import mean_squared_error
# the mean difference between the prediciton and the actual share
mean_squared_error(combination["Share"], combination["predictions"])

0.0026291663973845507

In [23]:
combination["Share"].value_counts()

Share
0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: count, dtype: int64

In [24]:
combination = combination.sort_values("Share", ascending = False)
# df.shape[0] gives you the number of rows and df.shape[1] gives you the number of columns.
combination["Rk"] = list(range(1,combination.shape[0] + 1))
combination.head(10)

                     Player  Share  predictions  Rk
387            Nikola Jokić  0.961     0.155287   1
5784            Joel Embiid  0.580     0.156196   2
2426          Stephen Curry  0.449     0.162675   3
6479  Giannis Antetokounmpo  0.345     0.194507   4
887              Chris Paul  0.138     0.076407   5
6945            Luka Dončić  0.042     0.159271   6
5165         Damian Lillard  0.038     0.136337   7
2367          Julius Randle  0.020     0.087892   8
2362           Derrick Rose  0.010     0.025646   9
7193            Rudy Gobert  0.008     0.085111  10

In [25]:
combination = combination.sort_values("predictions", ascending = False)
combination["Predicted_Rk"] = list(range(1, combination.shape[0] + 1))
combination.head(10)

                     Player  Share  predictions   Rk  Predicted_Rk
6479  Giannis Antetokounmpo  0.345     0.194507    4             1
2426          Stephen Curry  0.449     0.162675    3             2
2919           James Harden  0.001     0.159579   13             3
6945            Luka Dončić  0.042     0.159271    6             4
5784            Joel Embiid  0.580     0.156196    2             5
387            Nikola Jokić  0.961     0.155287    1             6
2922           Kevin Durant  0.000     0.148025  531             7
2511           LeBron James  0.001     0.146093   15             8
5165         Damian Lillard  0.038     0.136337    7             9
2636      Russell Westbrook  0.005     0.120022   11            10

In [26]:
combination.sort_values("Share", ascending = False).head(10)

                     Player  Share  predictions  Rk  Predicted_Rk
387            Nikola Jokić  0.961     0.155287   1             6
5784            Joel Embiid  0.580     0.156196   2             5
2426          Stephen Curry  0.449     0.162675   3             2
6479  Giannis Antetokounmpo  0.345     0.194507   4             1
887              Chris Paul  0.138     0.076407   5            28
6945            Luka Dončić  0.042     0.159271   6             4
5165         Damian Lillard  0.038     0.136337   7             9
2367          Julius Randle  0.020     0.087892   8            23
2362           Derrick Rose  0.010     0.025646   9            90
7193            Rudy Gobert  0.008     0.085111  10            24

In [30]:
# error metric that measures how many of the top 5 we were able to get correct
# this error metric sees how far down we have to go in predicted_rk until we get to the actual rk
# error metric function
def find_ap(combination):
    actual = combination.sort_values("Share", ascending = False).head(5)
    predicted =  combination.sort_values("predictions", ascending = False)
    ps = []
    found = 0
    seek = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seek)
        seek += 1
    return sum(ps) / len(ps)
find_ap(combination)

0.689047619047619

In [33]:
years = list(range(2003, 2022))
aps = []
all_predictions = []
# years 2003 to 2008 is the training set and 2009 is test set, and so on
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))
sum(aps) / len(aps)

0.7517308135375361

In [39]:
def add_ranks(combination):
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = (combination["Rk"] - combination["Predicted_Rk"])
    return combination
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

             Player  Share  predictions  Predicted_Rk  Rk  Diff
5971     Chris Paul  0.159     0.151306             2   5     3
3711   LeBron James  0.969     0.169640             1   1     0
8501    Dwyane Wade  0.562     0.143627             3   3     0
5541  Dwight Howard  0.271     0.116754             4   4     0
1029    Kobe Bryant  0.577     0.096205            10   2    -8

In [60]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
mean_ap

0.7517308135375361

In [41]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

               Player  Share  predictions  Predicted_Rk  Rk  Diff
8174      Joakim Noah  0.258     0.043877            34   4   -30
887        Chris Paul  0.138     0.076407            28   5   -23
4824      Kobe Bryant  0.291     0.059798            15   4   -11
1043      Kobe Bryant  0.487     0.072063            14   3   -11
4793      Kobe Bryant  0.873     0.086022            12   1   -11
5893     Kevin Durant  0.495     0.080671            11   2    -9
1029      Kobe Bryant  0.577     0.096205            10   2    -8
3442  Carmelo Anthony  0.393     0.073885            11   3    -8
859       Paul George  0.352     0.118208            11   3    -8
4376    Kawhi Leonard  0.484     0.102138             9   2    -7

In [49]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
29  0.045887  W/L%
18  0.035078   DRB
17  0.023717   ORB
4   0.017405    FG
13  0.015854  eFG%
21  0.008947   STL
25  0.008507   PTS
20  0.008152   AST
22  0.007948   BLK
15  0.005854   FTA
8   0.004575   3PA
10  0.001039    2P
30  0.000338    GB
1   0.000096     G
0   0.000070   Age
2   0.000021    GS
27 -0.000059     W
31 -0.000114  PS/G
28 -0.000344     L
32 -0.000397  PA/G
26 -0.000719  Year
33 -0.000971   SRS
12 -0.002185   2P%
14 -0.002298    FT
23 -0.003375   TOV
3  -0.003818    MP
24 -0.004155    PF
11 -0.004844   2PA
16 -0.006081   FT%
9  -0.010036   3P%
5  -0.010128   FGA
7  -0.011129    3P
19 -0.028070   TRB
6  -0.065563   FG%

In [65]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P"]].apply(lambda x: x/x.mean())
stat_ratios

           PTS       AST       STL       BLK        3P
0     0.000000  0.551045  0.789836  0.000000  0.000000
1     0.653294  0.275523  0.789836  6.128347  0.000000
2     2.685766  1.046986  1.421705  1.225669  1.254003
3     0.883157  1.763346  1.263738  0.000000  0.783752
4     0.580706  0.551045  0.473902  0.245134  0.470251
...        ...       ...       ...       ...       ...
9050  0.750079  0.826568  0.473902  1.470803  0.783752
9051  0.072588  0.000000  0.000000  0.000000  0.156750
9052  1.306589  0.606150  1.105771  2.451339  0.627002
9053  0.483922  0.220418  0.315935  1.225669  0.783752
9054  1.028334  0.661255  1.105771  0.490268  2.821507

[9055 rows x 5 columns]

In [66]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R
0,A.J. Guyton,PG,24,GSW,2,0,4.5,0.0,2.0,0.000,...,0.463,21.0,102.4,103.6,-0.6,0.000000,0.551045,0.789836,0.000000,0.000000
1,Adonal Foyle,C,27,GSW,82,0,21.8,2.3,4.2,0.536,...,0.463,21.0,102.4,103.6,-0.6,0.653294,0.275523,0.789836,6.128347,0.000000
2,Antawn Jamison,SF,26,GSW,82,82,39.3,8.4,17.9,0.470,...,0.463,21.0,102.4,103.6,-0.6,2.685766,1.046986,1.421705,1.225669,1.254003
3,Bob Sura,SG,29,GSW,55,0,20.5,2.5,6.0,0.412,...,0.463,21.0,102.4,103.6,-0.6,0.883157,1.763346,1.263738,0.000000,0.783752
4,Chris Mills,PF,33,GSW,21,0,12.5,1.9,5.0,0.368,...,0.463,21.0,102.4,103.6,-0.6,0.580706,0.551045,0.473902,0.245134,0.470251

In [67]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
mean_ap

0.7517308135375361

In [71]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [80]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=1, min_samples_split=5)
mean_ap, aps, all_predictions = backtest(stats, rf, years[16:], predictors)
mean_ap

0.7812745098039215

In [79]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[16:], predictors)
mean_ap

0.7522607022607022